<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Nom</th>
            <th>Soleil</th>
            <th>Arrosage</th>
            <th>Catégorie</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w-25">{{adminPlant.nom}}</td>
            <td>{{adminPlant.soleil}}</td>
            <td>{{adminPlant.arrosage}}</td>
            <td>{{adminPlant.categorie}}</td>
            <td>{{adminPlant.image}}</td>
            <td>
                <div class="d-flex flex-column"><button class="btn btn-outline-success m-2" [routerLink]="['/edit/', adminPlant.id]">Modifier</button><button
                        class="btn btn-outline-danger m-2" (click)="onDelete()">Supprimer</button></div>
            </td>
        </tr>
    </tbody>
</table>
