<h3>Vous connecter</h3>



<form  (submit)="onSubmit()">

            <label for="email">Votre Email</label>
            <input [(ngModel)]="email" name="email" type="email" required/>
            <!-- <div *ngIf="erreurChamp.email" class="error-message">
                {{ erreurChamp.email }}
            </div> -->

            <label for="passwordCo">Votre mot de passe </label>
            <input  [(ngModel)]="password" name="password" type="password" required />
            <div id="passwordHelpBlock" class="form-text">
                Votre mot de passe doit contenir entre 8-20 caractères.
            </div>
            <!-- <div *ngIf="erreurChamp.mdp" class="error-message">
                {{ erreurChamp.mdp }}
            </div> -->



    <div class="button">
        <button type="submit" class="btn"> Se connecter</button>
    </div>

</form>