    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{maplante.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{maplante.nom}}</h5>
            <p class="card-text">Nécessite un ensoleillement {{maplante.soleil}} et un arrosage {{maplante.arrosage}} fois par semaine. Elle fait partie des {{maplante.categorie}}.</p>
            <!-- <div *ngFor="let icon of getIcons(maplante.soleil, maplante.arrosage)">
                <app-icon [iconSrc]="getIconSrc(icon)"></app-icon>

            
            </div> -->
            <a href="#" class="btn btn-outline-success">Panier</a>
        </div>
    </div>
