<h1>Ajoutez votre plante</h1>
<form [formGroup]="addPlant" (ngSubmit)="addPlants()">

    <label for="code_plant">Code de la plante</label>
    <input type="number" class="form-control" formControlName="code_plant" name="code_plant" id="code_plant">

    <label for="nom">Nom de la plante</label>
    <input type="text" class="form-control" formControlName="nom" name="nom">

    <label for="soleil">Ensoleillement nécessaire</label>
    <input type="text" class="form-control" formControlName="soleil" name="soleil" id="soleil">

    <label for="arrosage">Arrossage nécessaire</label>
    <input type="number" class="form-control" formControlName="arrosage" name="arrosage" id="arrosage">

    <label for="categorie">Catégorie de la plante</label>
    <input type="text" class="form-control" formControlName="categorie" name="categorie" id="categorie">

    <label for="image">Image</label>
    <input type="file" class="form-control" formControlName="image" name="image" id="image">

        <button href="#" class="btn btn-outline-success">Ajouter une plante</button>
</form>